@import "reusables.scss";
@import "responsive.scss";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section_title {
  text-align: center;
  padding: $xl;
  @include heading1;
  color: $magenta;
}

.product_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-left: $xl;
  padding-right: $xl;
}

.product {
  padding-left: $s;
  padding-right: $s;
  width: 25%;
  display: flex;
  flex-direction: column;
  @include respond-to(medium-screens) {
    width: 33%;
  }
  @include respond-to(handhelds) {
    width: 50%;
  }
}

.product_image {
  padding-bottom: $l;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.product_name {
  margin: auto;
  font-size: 1rem;
  @include caption;
  color: $black;
}

.product_price {
  margin: auto;
  font-size: 1rem;
  color: $magenta;
  @include body-medium;
}

.separator_container {
  padding-left: $xl + $s;
  padding-right: $xl + $s;
}
.separator {
  margin-top: $xl;
  margin-bottom: $xl;
  background-color: $cyan;
  height: 1px;
  width: 100%;
}
.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: $xl + $s;
  padding-right: $xl + $s;
}

.footer_item{
  padding-top: $m;
  padding-bottom: $m;
  @include caption;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  padding-top: $xl;
  padding-bottom: $xl;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_us_container {
  padding-top: $xl;
  padding-left: $xl + $s;
  padding-right: $xl + $s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $xl;
}

.about_us_item {
  text-align: center;
  @include body;
  line-height: 2rem;
  color: $black;
}

.about_us_schedule {
  padding-top: $xl;
  text-align: center;
  @include body-medium;
  line-height: 2rem;
  color: $magenta;
}

.outside_reference_title {
  padding-bottom: $l;
  @include body-medium;
}

.outside_reference_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include respond-to(handhelds) {
    flex-direction: column;
  }
}

.outside_reference_container_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $xl;
}
