$cyan: #58F1D0;
$magenta: #9B547C;
$black: #121212;

$xxs: 0.125rem;
$xs: 0.25rem;
$s: 0.5rem;
$m: 0.75rem;
$l: 1rem;
$xl: 2rem;

@mixin karla-regular($size) {
    font-family: Karla;
    font-weight: 400;
    font-size: $size;
}

@mixin karla-medium($size) {
    font-family: Karla;
    font-weight: 500;
    font-size: $size;
}

@mixin karla-bold($size) {
    font-family: Karla;
    font-weight: 700;
    font-size: $size;
}

@mixin karla-light($size) {
    font-family: Karla;
    font-weight: 300;
    font-size: $size;
}

@mixin caption {
    @include karla-light(1rem);
}

@mixin body-medium {
    @include karla-medium(1rem);
}

@mixin body {
    @include karla-regular(1rem);
}

@mixin heading1 {
    @include karla-bold(2rem);
}